<nav class="navbar navbar-light ">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-7">
        <div class="dropdown ms-4 ">

          <button style="background-color:#F39C124D ; color:#F39C12 ; border-color: transparent;"
            class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-building text-muted icon-orange"></i>
            Factory Name
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <div class="col-1 ms-3">
        <button style="background-color:#F39C124D ; color:#F39C12 ; border-color: transparent;" mat-stroked-button><span
            class="material-icons-outlined">
            settings_input_composite
          </span></button>
      </div>

    </div>
    
   
    <div class="col-6 ">
      <button style="background-color:transparent ; color:#B2BEC3; border-color: transparent; " mat-stroked-button>
        <i style="font-size: 20px;" class="fa fa-rocket"></i>
      </button>
    </div>
    <div class="col ">
      <button mat-stroked-button
        style="background-color:#F39C124D ; margin-left: 70px; color:#F39C12 ; border-color: transparent;">Today</button>

    </div>
    <div class="col">
      <button mat-button
        style="background-color:transparent; margin-left: 30px; color:#B2BEC3 ; border-color: transparent;">Yesterday</button>

    </div>
    <div class="col me-5">
      <button mat-button style="background-color:transparent; color:#B2BEC3 ; border-color: transparent;">Last
        Week</button>
    </div>
    <div class="col " style="margin-top: 7px;">
      <span style="color: #B2BEC3;" class="material-icons-outlined">
        today
      </span>
    </div>
  </div>
</nav>